<table class="ui inverted selectable right aligned celled table">
  <thead>
    <tr>
      <th class="left aligned">Module</th>
      <th>Temperature</th>
      <th>Humidity</th>
      <th>Lumens</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="module in monitor.modules" ng-click="monitor.loadModule(module._id);">
      <td class="left aligned"><span>{{ module.name }}</span></td>
      <td><span>{{ module.monitors.temperature }}</span></td>
      <td><span>{{ module.monitors.humidity }}</span></td>
      <td><span>{{ module.monitors.lumens }}</span></td>
    </tr>
  </tbody>
</table>
