<h1>{{ plantView.plant.name }} <small>{{ plantView.plant.strain }}</small></h1>

<div class="row">
  <div class="col-xs-3">C: {{ plantView.plant.createdString }}</div>
  <div class="col-xs-3">P: {{ plantView.plant.pottedDateString }}</div>
  <div class="col-xs-3">F: {{ plantView.plant.flowerDateString }}</div>
  <div class="col-xs-3">H: {{ plantView.plant.harvestDateString }}</div>
</div>

<section ng-show="plantView.plant.events.length !== 0">
<h2>Events</h2>
</section>

<section ng-show="plantView.plant.feedings.length !== 0">
<h2>Feedings</h2>
</section>

<section ng-show="plantView.plant.monitors.length !== 0">
<h2>Monitors</h2>
</section>
