<button class="ui inverted basic button" ng-click="plants.showNewPlantModal();">New Plant</button>

<table class="ui inverted selectable right aligned celled table">
  <thead>
    <tr>
      <th class="left aligned">Plant Name</th>
      <th>Strain</th>
      <th>Sex</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="plant in plants.plants" ng-click="plants.loadPlant(plant._id);" style="cursor: pointer;">
      <td class="left aligned"><span>{{ plant.name }}</span></td>
      <td><span>{{ plant.strain }}</span></td>
      <td><span><i ng-class="plant.sex | genderIcon"></i></span></td>
      <td><span>{{ plant.createdString | simpleDate }}</span></td>
    </tr>
  </tbody>
</table>

<div class="ui modal" id="newPlantModal">
  <i class="close icon"></i>
  <div class="header">
    New Plant
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button" ng-click="plants.createPlant($event);">
      Add Plant
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>
